body{
    background-color: aqua;
}
.titulo{
    font-family: 'Segoe UI';
    font-size: 30 px;
    text-align: center;
}
.entrada{
    font-family: 'Segoe UI';
    font-size: 19 px;
    text-align: center;
}
.sorteo{
    font-family: 'calibri';
    border-radius: 9px;
    text-align: center;
}
.mostrar{
    font-family: 'calibri';
    font-size: 19 px;
    text-align: center;
}
button{
    border-radius: 9px;
    font-family: 'Calibri';
}
#lista{
    column-count: 3;
}
.cuerpo{
    text-align: center;
}

